


<nav class="navbar-principal navbar-expand-lg">
  <ion-item>


  <h1>
    <a routerLink="/dvdstore"
            class="d-flex  justify-content-center"><img [src]="ENV_ICON + 'logo.png'" ></a>
    <!-- <a routerLink="/dvdstore">Dvdstore</a> -->
  </h1>
  <div class="container-fluid"> 
    

         
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ion-item>

      
        <ion-input class="form-control me-2 search" 
              type="search" 
              placeholder="Rechercher" 
              name="searchText" 
              [(ngModel)]="searchText" 
              (ngModelChange)="handleSearchClick(searchText.toLowerCase())">
        </ion-input>
      </ion-item>
        <div class="login d-flex">
          <a class="btn btn-outline-success"
                  href="/login" >{{ conButton }}</a>
          <div class="initials">{{ initials | uppercase }}</div>
        </div>
        <img src="/assets/pictures/loupe.png" alt="">
    </div>
  </div>
</ion-item>  
</nav>
<nav class="navbar-secondary navbar-expand-lg bg-body-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Derniers Films</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Enfants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Populaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Indépendants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Courts-Métrages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Prochainement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tous les films</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>

