.wrapper{
    // height: 100vh;
    // overflow-y: auto;
    padding:0;
    .row{
        padding: 0;
        margin: 0;
    }
    .home{
        padding: 1rem .5rem;
        h2{
            text-align: center;
            font-size: 1.5rem;
            color: #625757;
            font-weight: 400;
        }
        a.btn-warning{
            img{
                width: 22px;
            }
        }
    }
}


.content{
    padding: 0;  
}


ul{
    // max-width: 65rem;
    flex-wrap: wrap;
    list-style-type: none;
    li{
        margin: 1rem;
        img{
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            border-radius: 50%;
            margin: 0 auto;
            
        }
        .card{
          
            border: none;
            .btn{
                display: block;
                width: 30%;
                margin: 0 auto;
                font-size: .6rem;
            }
            h3, h5{
                text-align: center;
            }
            h3{
                font-size: .9rem;
                margin:.5rem 0.2rem;
            }
            h5{
                font-size: .7rem;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.63);
            }
        }

    }
}

