.wrapper{
    padding:0;
    .row{
        padding: 0;
        margin: 0;
    }
    .header{
        padding: 0;
    }
    .home{
        padding: 3rem 3.5rem;
        h1{
            font-size: 2rem;
            color: #625757;
            font-weight: 500;
        }
        h3{
            font-size: 1.3rem;
        }
        .details{
            width: 100%;
            margin: 0 3rem;
            .action{ margin: 0 auto}
            .btn{
                width: 5rem;
                font-size: .8rem;             

            }
        }
    }
    
}



.desktop{
    max-width: 1000px;
    margin: 0 auto;
    .layout-img{
        display: flex;
    }
    .synopsis{
        padding: 0 3.5rem;
    }


}


