
<div class="container-fluid">
  <div class="row flex-nowrap col-12">

      <app-sidebar class="col-auto col-md-3 col-xl-2 px-0 "
        [genreEnumValues]="genreEnumValues" 
        (genreClicked)="onGenreClicked($event)"  ></app-sidebar>

      <div class="col-md-9 col-xl-10">

          <app-header 
              class="col-12 "
              (searchClicked)="onSearchClicked($event)"
            ></app-header>

          <div class="home">
            <h1>Nos Dvds</h1>
            <ul class="d-flex mx-auto">
                <li *ngFor="let dvd of dvdToShow; let index = index" >
                    <div class="card" style="width: 18rem;">
                        <img [src]="dvd.picture" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h3 class="card-title">{{dvd.name | titlecase}}</h3>
                          <h5>{{dvd.genre | titlecase }}</h5>
                          <p class="d-flex justify-content-around">
                            <span>En stock {{ dvd.quantite }}</span>
                            <span class="text-primary">{{ dvd.prix }} €</span>
                          </p>
                          <!-- <a routerLink="dvds/1" class="btn btn-primary">Voir détail</a> -->
                          <a [href]="'/dvdstore/dvds/'+ dvd.id" class="btn btn-primary">Voir détail</a>
                        </div>
                    </div>     
                </li>
            </ul>

          </div>
          
      </div>
  </div>
</div>