h1{
    text-align: center;
}
ul{
    max-width: 65rem;
    flex-wrap: wrap;
    list-style-type: none;
    li{
        margin: 1rem;
        img{
            width: 16rem;
            height: 16rem;
            object-fit: cover;
            border-radius: 50%;
            margin: 0 auto;
            
        }
        .card{
            border: none;
            .btn{
                display: block;
                width: 45%;
                margin: 0 auto;
            }
            h3, h5{
                text-align: center;
            }
        }

    }
}