<ion-menu contentId="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                <a href="/"
                class="d-flex justify-content-center">
                    <img [src]="ENV_ICON + 'logo.png'" width="25">
                </a>
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <div class="sidebar">

            <div class="cinema mt-2 pt-3">
                <img [src]="ENV_ICON +'coupez.png'" alt="logo de cinema">
            </div> 
                    
            <ion-accordion-group>
                <ion-accordion value="first">
                    <ion-item slot="header" color="light">
                      <ion-label>Nos Dvds</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                      <a routerLink="/" >Tous</a>
                    </div>
                    <div class="ion-padding" slot="content" *ngFor="let item of genreEnumValues">
                        <button class="nav-link px-0" (click)="handleGenreClick(item.toString())">
                            <span>{{ item }}</span>
                        </button>
                    </div>
                </ion-accordion>

                <ion-accordion value="second">
                    <ion-item slot="header" color="light">
                        <ion-label>Clients</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                        <a routerLink="/clients">Tous</a>
                    </div>
                    <div class="ion-padding" slot="content">Client 1</div>
                    <div class="ion-padding" slot="content">Client 2</div>
                </ion-accordion>

                <ion-accordion value="third">
                    <ion-item slot="header" color="light">
                        <ion-label>Ventes</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                        <a routerLink="/dvdstore/ventes" >Toutes</a>
                    </div>
                    <div class="ion-padding" slot="content">Aout</div>
                    <div class="ion-padding" slot="content">Septembre</div>
                    <div class="ion-padding" slot="content">Octobre</div>
                </ion-accordion>
            </ion-accordion-group>               
        </div> 
    </ion-content>
</ion-menu>
        