.sidebar{
    background-color: #efefef;
    padding: 0 4rem;
    height: 100vh;
}

.logo{
    width: 100%;
    a{

        img{
           width: 60%; 
        }
    }
}

a.nav-link{
    color: rgb(35, 33, 33);
    font-weight: 400;
    font-size: .9rem;
    &.menu{
        color: #0B5ED7;
        font-weight: 600;
        font-size: 1.1rem;
    }
}