

/* Core CSS required for Ionic components to w    ork properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css"; 
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a{
    color: rgb(72, 67, 67);
    text-decoration: none;
    font-weight: 400;
    &:hover{
        text-decoration: underline;
    }
}
.btn{
    font-size: .8rem;
}

body{ 
    inset: 0px;
     position: inherit !important;
     contain:  none !important;
     z-index: 0; }

.ion-page{
overflow-y: auto;
}
    