
<div class="container-fluid wrapper" [ngClass]="{desktop: platform === 'desktop'}">
    <div class="row d-flex align-items-start col-12">
        <h1 class="text-center">Dvdstore</h1>
        <form>     
            <h5 class="card-header" >Login</h5>
            <ion-item>               
                <ion-input 
                    [(ngModel)]="loginView.username"
                    name="username"
                    label="Pseudo"
                    labelPlacement="floating"
                    maxlength="40"
                    [counter] = "true"
                    [clearInput]="true">
                    <ion-text color="danger"></ion-text>
                </ion-input>
            </ion-item>
            <ion-item>        
                <ion-input 
                    [(ngModel)]="loginView.password"
                    name="password"
                    type="password"
                    label="Mot de passe"
                    labelPlacement="floating"
                    maxlength="40"
                    [counter] = "true"
                    [clearInput]="true">
                    <ion-text color="danger"></ion-text>
                </ion-input>
            </ion-item>
            
            
            <a class="btn btn-primary" (click)="onLoginClick()">Connexion</a>
            
            <div class="card-footer text-right">
                <span class="text-danger">{{ loginError }}</span>
            </div>        
        </form> 
 
    </div>

</div>
